@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.appointments {
    padding: 20px;
    position: relative;
   top: -300px;
    
    
    
    
  }
  
  .appointments h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
    
  }
  
  
  .appointment-boxes {
    display: grid;
    gap: 20px;
    max-height: 100px;
  }
  .appointment-box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;

  }
  
  .appointment-boxes-barber{
    display: flex;
    width: 1600px;
    height: 1000px;
    position: relative;
    
    flex-direction:row;
    justify-content: center;
    margin-top: 800px;
    
    

  }
  @media screen and (max-width: 1368px) {
    .appointment-boxes-barber {
      flex-direction: column;
      align-items: center; /* Alinha os itens ao centro na coluna */
    }
  }
  
  .appointment-box-barber{
    max-width: 50%;
    position: relative;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    flex: 1;
    
   
    
    
    

  }
  
  .calendar2 {
    position: relative;
    top:300px;
    left: 120px;
    
    
    
  }
  .horarios {
    position: relative;
    top:600px;

  }
  .appointment-box-desktop{
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; /* Alinha os elementos verticalmente */
    align-items: center; /* Alinha os elementos horizontalmente */
    

  }
  @media screen and (max-width: 1368px) {
    .appointment-box-desktop {
      margin-top: 700px;
    }
    .calendar2 {
      left: 140px;
      top:250px;
    }
  }
  .receita .faturamento h4 {
    font-size: 18px; /* Defina o tamanho da fonte desejado */
  }
  .clientes .atendimentos h4 {
    font-size: 18px; /* Defina o tamanho da fonte desejado */
  }
  .receita {
    width: 300px;
    height: 230px;
    position: relative;
    color: black;
    font-size: 80px;
    display: flex;
   justify-content: center; /* Alinha o texto horizontalmente */
   align-items: center;
   background-color: white;
   border-radius: 10px;
   margin-bottom: 40px;
   flex-direction: column;
    
  }
  
  .clientes {
    width: 300px;
    height: 230px;
    position: relative;
    font-size: 80px;
    display: flex;
    justify-content: center; /* Alinha o texto horizontalmente */
    align-items: center;
    background-color: white;
    border-radius: 10px;
    color: black;
    flex-direction: column;
    
  }
  
.appointment-box-desktop .receita p,
.appointment-box-desktop .clientes p {
  
  margin: 0 auto;
}
  
  .appointment-box {
    
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    width: 600px;
    height: 190px;

    
  }
  

  
  .appointment-box p {
    margin: 5px 0;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .appointment-box button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
    bottom:70px
  }
  .tipo {
    
    position: relative;
    bottom: 100px;
    font-size: 20px;
    
  }
  
  .hora {
    position: relative;
    left: 520px;
    background-color: grey;
    width: 40px;
    border-radius: 6px;
    font-size: 20px;
    bottom: 34px;
    
  }
  @media screen and (max-width: 1368px) {
    .appointment-box {
      width: 400px;
    }
    .hora {
      left: 330px;
    }
  }
  .dia {
    
    position: relative;
    background-color: grey;
    width: 80px;
    border-radius: 6px;
    font-size: 20px;
    
  }
  .nome {
    font-size: 23px;
    position: relative;
    left: 85px;
    bottom: 55px;
  }
  
  