
.location-css {
    align-items: center;
    position: relative;
    list-style: none;
    display: flex; /* Exibir os itens na horizontal */
     /* Remover o preenchimento padrão da lista */
    flex-direction: column; /* Exibir itens em linha por padrão */
    justify-content: space-between;
    
    
    
    
    
  }
  .list-unstyled2 {
    align-items: center;
    position: relative;
    list-style: none;
    display: flex; /* Exibir os itens na horizontal */
     /* Remover o preenchimento padrão da lista */
    flex-direction: row; /* Exibir itens em linha por padrão */
    justify-content: space-between;
  }
  
  @media (max-width: 568px) {
    .location-css {
       margin-top: 300px;
    }
    .location-css2 {
      margin-top: 600px;
    }
    

  }

  .location-css2 {
    align-items: center;
    position: relative;
    list-style: none;
    display: flex; /* Exibir os itens na horizontal */
     /* Remover o preenchimento padrão da lista */
    flex-direction: column; /* Exibir itens em linha por padrão */
    justify-content: space-between;
    
  }
  
  .boxs {
    
    position: relative;
    left: -19px;

  }
  .boxs2 {
    
    position: relative;
    left: -19px;
    display: flex;
  }
  .boxs3 {
    
    position: relative;
    left: -19px;
    
    
    
  }
  
  .img-location img {
    max-width: 100%;
    height: auto;
    
    
    
    
    
  }
  .img-location2 img{
    max-width: 100%;
    height: auto;
  }
  .img-location2 {
    max-width: 600px; /* ou outro valor desejado */
    position: relative;
    align-items: center;
  }
  
  .img-location {
    max-width: 600px; /* ou outro valor desejado */
    position: relative;
    align-items: center;
    
    
    
  }
  .img-location3 {
    max-width: 600px; /* ou outro valor desejado */
    position: relative;
    align-items: center;
    
  }
  .img-location3 img{
    max-width: 100%;
    height: auto;
    
  }
  .location-css3 {
    margin-top: 400px;
    align-items: center;
    position: relative;
    list-style: none;
    display: flex; /* Exibir os itens na horizontal */
     /* Remover o preenchimento padrão da lista */
    flex-direction: column; /* Exibir itens em linha por padrão */
    justify-content: space-between;
  }
  
  