/* Header.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.header {
  height: 50px;
  width: 100%;
  background: #484d50;
  color: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 40px; /* Ajuste a altura conforme necessário */
  margin-top: 20px;
}

.links a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Bebas Neue', sans-serif;
  position: relative;
  right: 50px;
  
  
}

.profile img {
  border-radius: 50%;
  height: 40px; /* Ajuste a altura conforme necessário */
}
